absl-py
altair
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
flatbuffers
fonttools
gitdb
GitPython
idna
importlib_metadata
importlib_resources
jax
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
numpy
opencv-contrib-python
opencv-python-headless
opt-einsum
packaging
pandas
pillow
pkgutil_resolve_name
protobuf==3.20.3
pyarrow
pycparser
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
sounddevice
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
urllib3
watchdog
zipp
setuptools
